<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <link rel="stylesheet" href="/styles/exerciselog.css">
</head>

<body id="body" onload="updateDateTime()">
    <% layout('layouts/boilerplate') %>
        <span id="datetime"></span>
        <table class="WorkoutLogger">
            <thead>
                <tr>
                    <th scope="col" class="topRow">Activity Name</th>
                    <th scope="col" class="topRow">Duration</th>
                    <th scope="col" class="topRow">Calories burned</th>
                </tr>
            </thead>
            <tbody>
                <% let totalTime=0, totalCalories=0; %>
                    <% for(let workout of exerciseLog){ %>
                        <% if (workout.exercisetype==='cardio' ) { %>
                            <tr>

                                <td class="trow"
                                    onclick="editExercise('<%= workout.id %>', '<%= workout.exercisetype %>', '<%= workout.exercisename %>', '<%= workout.duration %>', '<%= workout.calories %>')">
                                    <%= workout.exercisename %>
                                </td>
                                <td class="trow">
                                    <%= workout.duration %> min
                                </td>
                                <td class="trow">
                                    <%= workout.calories %>
                                </td>
                                <td class="trow">
                                    <%= workout.author.username %>
                                </td>
                                <td class="deleterow">
                                    <form id="deleteForm" action="/exerciselog/?_method=delete" method="post">
                                        <input type="hidden" id="id" name="id" value="<%= workout.id %>">
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                                <% totalTime +=workout.duration;%>
                                    <% totalCalories +=workout.calories;%>
                            </tr>
                            <% } %>
                                <% } %>
                                    <tr class="bottom">
                                        <td class="addExercise"><a href="add_to_log">Add Exercise</a></td>
                                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <span class="Daily">Total: <%= totalTime %>(Minutes)</span>
                        <span class="Goal">Total: <%= totalCalories %>(Calories)</span>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div id="editForm" style="display: none;">
            <form id="exerciseForm" onsubmit="submitForm(); return false;">
                <input type="hidden" id="editId" name="editId">
                <input type="hidden" id="editType" name="editType">
                <input type="hidden" id="editName" name="editName">
                <label for="editDuration">Duration:</label>
                <input type="number" id="editDuration" name="editDuration" required>
                <label for="editCalories">Calories burned:</label>
                <input type="number" id="editCalories" name="editCalories" required>
                <button type="submit">Save</button>
            </form>
            <a id="linkToHideForm" href="#" onclick="hideFormOnClick('editForm')">Hide Form</a>
        </div>





        <br>
        <table class="WorkoutLogger">
            <thead>
                <tr>
                    <th scope="col" class="topRow">Activity Name</th>
                    <th scope="col" class="topRow">NumOfSets</th>
                    <th scope="col" class="topRow">Repetitions</th>
                    <th scope="col" class="topRow">Weight</th>
                </tr>
            </thead>
            <tbody>
                <% for(let workout of exerciseLog){ %>
                    <% if (workout.exercisetype==='strength' ) { %>
                        <tr>

                            <td class="trow" onclick="editstrengthExercise('<%=workout.id %>', '<%=workout.exercisetype %>','<%=workout.exercisename %>', 
                    '<%=workout.numofsets %>', '<%=workout.repetitions %>', '<%=workout.weight %>')">
                                <%= workout.exercisename %>
                            </td>
                            <td class="trow">
                                <%= workout.numofsets %>
                            </td>
                            <td class="trow">
                                <%= workout.repetitions %>
                            </td>
                            <td class="trow">
                                <%= workout.weight %> lbs
                            </td>
                            <td class="deleterow">
                                <form id="deleteForm" action="/exerciselog/?_method=delete" method="post">
                                    <input type="hidden" id="id" name="id" value="<%= workout.id %>">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                            <% } %>
                                <tr class="bottom">
                                    <td class="addExercise"><a href="add_to_strength">Add Exercise</a></td>
                                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div id="editstrengthForm" style="display: none;">
            <form id="exerciseForm" onsubmit="submitstrengthForm(); return false;">
                <input type="hidden" id="editId" name="editId">
                <input type="hidden" id="editType" name="editType">
                <input type="hidden" id="editName" name="editName">

                <label for="editNumofsets">NumOfSets:</label>
                <input type="number" id="editNumofsets" name="editNumofsets" required>

                <label for="editRepetitions">Repetitions:</label>
                <input type="number" id="editRepetitions" name="editRepetitions" required>

                <label for="editWeight">Weight:</label>
                <input type="number" id="editWeight" name="editWeight" required><span>lbs</span>
                <button type="submit">Save</button>
            </form>
            <a id="linkToHideForm" href="#" onclick="hideFormOnClick('editstrengthForm')">Hide Form</a>
        </div>
        <script src="/scripts/exerciselog.js"></script>
</body>

</html>
